<div class="home-container">
  <div class="hero">
    <div class="title">
      <h1>
      PHIL CHIARATO
    </h1>
    <h2>Fullstack Web Developer</h2>
    </div>
      <div class="paragraph">
     <p>Thanks for checking out my portfolio</p>
   </div>
   </div>
</div>
   <div class="about-container" id="about-page">
     <div class="about-info">
       <div class="about-title">
        <h1>Born to code...</h1>
      </div>
      <div>
        <div class="about-paragraph">
          <p>
            Computers has always been a passion of mine and for many years I built, modified and fixed them. As a kid I always wanted to learn how to write programs so in High School I took a programing class using Pascal.
            As the years went by I taught myself how to program in python, which led me to learn the MVC framework called "Django", using HTML, CSS and etc... a new passion was born for Web Development. Since then I've learned Angular.js, Angular 2/4, React, Typescript, Javascript, ES6, Jsx, Sass, Bootstrap, Node.js & Express, Gulp, Webpack, Massive, PostgreSQL. I can't wait to learn more...
        </p>
      </div>
      </div>
      
     </div>
     <div class="about-footer" id="skill-page">
      <h1>SKILLS</h1>
     </div>
  
</div>
<div class="skill-container" >
  <div class="icons-container">
    
    <div class="skill-icons">
      <div class="icon-labels">
        Angular 2/4
      </div>
      <div class="skill-icons">
          <i class="devicon-angularjs-plain colored icon"></i>
      </div>
      
    </div>

    <div class="skill-icons">
      <div class="icon-labels">
        TypeScript
      </div>
      <div class="skill-icons">
        <i class="devicon-typescript-plain colored icon"></i>
      </div>
    </div>
    
    <div class="skill-icons">
      <div class="icon-labels">
        React
      </div>
      <div class="skill-icons">
        <i class="devicon-react-original colored icon"></i>
      </div>
    </div>

    <div class="skill-icons">
      <div class="icon-labels">
        JavaScript
      </div>
      <div class="skill-icons">
         <i class="devicon-javascript-plain colored icon"></i>
      </div>
    </div>

    <div class="skill-icons">
      <div class="icon-labels">
        Nodejs
      </div>
      <div class="skill-icons">
         <i class="devicon-nodejs-plain colored icon"></i>
      </div>
    </div>

       <div class="skill-icons">
      <div class="icon-labels">
        Postgresql
      </div>
      <div class="skill-icons">
         <i class="devicon-postgresql-plain colored icon"></i>
      </div>
    </div>

    <div class="skill-icons">
      <div class="icon-labels">
        Html
      </div>
      <div class="skill-icons">
         <i class="devicon-html5-plain colored icon"></i>
      </div>
    </div>

    <div class="skill-icons">
      <div class="icon-labels">
        Sass
      </div>
      <div class="skill-icons">
         <i class="devicon-sass-original colored icon"></i>
      </div>
    </div>

    <div class="skill-icons">
      <div class="icon-labels">
        Css
      </div>
      <div class="skill-icons">
         <i class="devicon-css3-plain colored icon"></i>
      </div>
    </div>

    <div class="skill-icons">
      <div class="icon-labels">
        Python
      </div>
      <div class="skill-icons">
         <i class="devicon-python-plain colored icon"></i>
      </div>
    </div>

     <div class="skill-icons">
      <div class="icon-labels">
        Django
      </div>
      <div class="skill-icons">
         <i class="devicon-django-plain colored icon"></i>
      </div>
    </div>

   

  </div> <!-- end of icons-container -->

</div> <!-- end of skill container -->

<div class="portfolio-outer-container" id="portfolio-page">
  <div class="portfolio-inner-container">
  <div class="portfolio-title"><h1>Some of My Work</h1></div>
    <div class="portfolio-upper">

        <div class="portfolio-surfside">
          <div class="overlay">
            <div class="portfolio-link">
              <div>
                <a id="link-color" href="https://www.youtube.com/watch?v=35twyZrzYVQ" target="_blank">Video Tour</a>
              </div>
              <div>
                <a href="https://pchiarato.github.io/no-server-project/#/home" target="_blank">Visit website</a>
              </div>
            
          </div>
          </div>
          <img src="./assets/images/surfing-spot.png" alt="Surfing-Spot">
        </div>

        <div class="portfolio-employee-portal">
          <div class="overlay">
            <div class="portfolio-link">
              <div>
                <a id="link-color" href="https://www.youtube.com/watch?v=AlQ1UxjEM7A" target="_blank">Video Tour</a>
              </div>
              <div>
                <a href="192.241.150.115" target="_blank">Visit website</a>
              </div>
            
          </div>
          </div>
          <img src="./assets/images/employeeportal.png" alt="Employee-Portal">
        </div>
      </div>
      <div class="portfolio-lower">
      <div class="portfolio-elsistema">
        <div class="overlay">
            <div class="portfolio-link">
              <div>
                <h2 style="color:yellow">Work in progress</h2>
              </div>
              <div>
                <a href="https://github.com/DM22-Five-Guys/el-sistema" target="_blank">See Code on Github</a>
              </div>
            
          </div>
          </div>
  
        <img src="./assets/images/el-sistema2.png" alt="El-Sistema">
      </div>
      <div class="portfolio-library-4-games">
          <div class="overlay">
            <div class="portfolio-link">
              <div>
                <a href="http://www.library4games.com" target="_blank">Visit website</a>
              </div>
              
          </div>
          </div>
        <!--<h1>Library-4-Games</h1>-->
        <img src="./assets/images/library-4-games.png" alt="Library-4-Games">
      </div>
    </div>
  </div>
</div>
<div class="contact-container" id="contact-page">
  <div class="contact-inner-container">
    <div class="top-contact-links">
      <a href="https://linkedin.com/in/phillip-chiarato" target="_blank">
        <div class="contact-icons">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
          <h3>SEE ME ON LINKEDIN</h3>
        </div>
      </a>
      <a href="https://github.com/pchiarato" target="_blank">
        <div class="contact-icons">
            <i class="fa fa-github-square" aria-hidden="true"></i>
            <h3>SEE ME ON GITHUB</h3>
        </div>
      </a>
      <a href="./../assets/files/phillip_chiarato_resume.pdf" target="_blank">
        <div class="contact-icons">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            <h3>GRAB MY RESUME</h3>
        </div>
      </a>
    </div>
      <div class="bottom-contact-links">
        <div class="contact-info">
            <h1>Let's Get In Touch!</h1>
            <h4>I look forward to discussing opportunities with you. Text, Call, or Email anytime.</h4>
            <div class="bi-contact">
              <div>
                <i class="fa fa-phone-square fa-btm" aria-hidden="true"></i>
                <h3 class="contact-text">321-295-4073</h3>
              </div>
              <div>
                <i class="fa fa-envelope fa-btm" aria-hidden="true"></i>
                <h3 class="contact-text">phillip.chiarato@gmail.com</h3>
              </div>
              
              
            </div>

        </div>
      </div>
  </div>
</div>

